
.vstdate_hf {

     overflow: auto;
     /* width: 180px !important;
     /* height: 500px;*/
     /*  position : left;*/
     /* cursor: pointer;*/

 }.vstdate_hm {
      overflow: auto;
      /* width: 180px !important;
      /* height: 500px;*/
      /*  position : left;*/
      /* cursor: pointer;*/

  }
#main_content{
    position: relative;
    margin-left: 0px;
    padding: 0px;

}

.content_history {
    position: absolute;
    left: 0px;
    overflow: scroll;
    /*height: 500px;*/
   /* min-width:1000px;*/
    display: inline-block;

}

#title {
    font-size: 13px;
    color: #000;
    background-color: transparent;
}

.text_content {
    font-size: 15px;
}

#space {
    margin-left: 50px;
}

.panel {
    margin-bottom: 0px;
}
.panel-body{
    padding: 0px;
}

#mydrugs,#my_cost,#my_lab,#my_ipd_drug,#my_ipd_drughome,#my_procedure{
    font-family: "Tahoma", "Cordia New";
    font-size: 16px;
}
#mydrugs tr,#my_lab tr,#my_cost tr,#my_ipd_drughome tr,#mydrugs td,#my_lab td,#my_cost td,#my_ipd_drug td,#my_ipd_drughome td,#my_procedure td,#my_ipd_dx td,#my_ipd_xray td,#my_ipd_proc td{
    max-height: 25px !important;
    height: 22px !important;
    /*display: inline-table;*/
    padding:0px !important;
    font-family: "Tahoma", "Cordia New";
    font-size: 14px;

}
#appoint,#labTest{
    padding:0px !important;
    font-family: "Tahoma", "Cordia New";
    font-size: 14px;
}

.main_content{
    /*height: 100%;*/
    background: #e3e3e3;


}

/* Tab Navigation */
/*/ tabs/////////////*/

.nav-tabs {
    margin: 3px;
    padding: 0;
    border: 0;

}


.nav-tabs > li > a {
    padding-right: 4px;
    padding-left: 4px;
    height: 30px;
    margin: 2px;
    background: #DADADA;
    font-family: "Tahoma", "Cordia New";
    font-size: 14px;
    color: #000066;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius : 5px;
    box-shadow : inset 0 - 8 px 7 px - 9 px rgba(0, 0, 0, .4), - 2 px - 2 px 5 px - 2 px rgba(0, 0, 0, .4);

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    font-family: tahoma, geneva, sans-serif;
    font-size: 13px;
    color: #000066;
    box-shadow : inset 0 0 0 0 rgba(0, 0, 0, .4), - 2 px - 3 px 5 px - 2 px rgba(0, 0, 0, .4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-tabs>li.active>a:after {
    border-color: transparent transparent transparent #FAFAFA;
}


/* Tab Content */
.tab-pane {
   /* height: 300px;*/
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    border-radius : 0;
    text-align : center;
    padding: 5px;
    /*overflow: scroll;*/
}
.tab-content,.tab-pane{
    text-align: left;
    font-family: "tahoma","Cordia New";
    font-size: 14px;

}
.td_current {
    background-color: #e38d13;
}

tbody#visit_date tr{
    cursor: pointer;cursor: hand;
}
td#vstdate{
    cursor: pointer;cursor: hand;
}

/*table overflow scroll*/
#table-wrapper {
    position:relative;
}
#table-scroll {
    /*height:200px;*/
    overflow:auto;
    margin-top:20px;
}
#table-wrapper table {
    /*width:100%;*/

}
#table-wrapper table * {
    /*background:yellow;*/
    color:black;
}
#table-wrapper table thead th .text {
    position:absolute;
    top:-20px;
    z-index:2;
    /*height:20px;*/
    width:auto;
    background:yellow;
    /*border:1px solid red;*/
}

/*  Table  Visit Date  */
table#table_h{
    font-family: "Tahoma", "Cordia New";
    font-size: 14px;
    width: 100%;
}
table#table_h td{
   /* white-space: nowrap;  /** added **/
}
table#table_h td:last-child{
   /* width:100%;*/
}

/*****ipd******/
#ipd_home,#ipd_drug{
    /*height: 200px;*/
    overflow: scroll;
}
.ipt_vstdate{
    color: red;

}

span.badge{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;

    font-family: "Tahoma", "Cordia New";
    font-size: 14px;

}

.editDx,.editProc{
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 4px;
    padding-left: 4px;
    text-align: center;
   width: 80px;
}